* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    font-family: sans-serif;
    padding-top: 100px;
}

:root{
    --mainColor: black;
    --secondaryColor: #fc8c03;
    --textColor: #eee;
}

.text-container{
    display: flex;
    justify-content: center;
}
.banner-text{
    background-color: var(--mainColor);
    width: 700px;
    height: fit-content;
    color: var(--textColor);
    margin-bottom: 40px;
    text-align: center;
    border-radius: 20px;
}

.banner-text h3{
    padding: 50px 0px 40px 20px;

}

.banner-text p{
    padding: 0px 0px 40px 20px;
}

.categories-container h2{
    padding: 30px;
    text-align: center;
    font-size: 2rem;
}
.categories-page-event{
    display: grid;
    grid-template-columns: 300px 300px 300PX;
    justify-content: center;
    gap: 20px;
    height: fit-content;
}

.categories-page-details{
    /* margin: 100px; */
}
.categories-page-details img{
    height: 280px;
    width: 300px;
    border-radius: 50%;
}

.categories-page-details h3{
    padding: 10px;
    text-align: center;
} 

@media (max-width: 768px) {
    .banner-text {
        width: 80%;
        padding: 20px;
    }

    .banner-text h3, .banner-text p {
        padding: 20px;
    }

    .categories-container h2 {
        font-size: 1.5rem;
    }
}

/* @media (max-width: 480px) {
    body, html {
        padding-top: 50px;
    }

    .banner-text {
        width: 90%;
    }

    .banner-text h3, .banner-text p {
        padding: 10px;
    }

    .categories-container h2 {
        font-size: 1.25rem;
    }
} */